@charset "utf-8";
html {
  font-size: 100%;
  background-color: #fff;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
html.border-box *,
html.border-box *:after,
html.border-box *:before {
  *behavior: url(../js/boxsizing.htc);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
iframe {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select,
textarea,
optgroup {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button,
input,
select {
  overflow: auto;
  vertical-align: middle;
}
::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  resize: vertical;
  overflow: auto;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
ul,
ol {
  list-style: none;
}
div,
textarea,
th,
th {
  word-break: break-all;
  word-wrap: break-word;
  hyphens: auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  text-align: inherit;
}
img {
  height: auto;
  vertical-align: middle;
  border: none;
  -ms-interpolation-mode: bicubic;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.mod {
  overflow: hidden;
  *zoom: 1;
}
.left {
  float: left;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-middle {
  vertical-align: middle;
}
.text-top {
  vertical-align: top;
}
.text-bottom {
  vertical-align: bottom;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.none,
.hide,
[hidden] {
  display: none;
}
.blk,
.show {
  display: block;
}
.inblk {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  *clip: rect(1px 1px 1px 1px);
}
.img-preserve {
  max-width: none;
}
.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
}
.text-truncate {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _width: 95%;
}
.text-break {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-all;
}
.text-indent2 {
  text-indent: 2em;
}
.text-hide {
  text-indent: -9999em;
  overflow: hidden;
}
.checkbox,
.radio {
  vertical-align: middle;
  margin: 1px 0 -1px 0;
}
.skip-link {
  position: absolute;
}
.skip-link a {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  background: black;
  color: white;
  text-decoration: none;
}
.skip-link a:focus {
  position: static;
  overflow: visible;
  clip: auto;
}
.font-yaihei {
  font-family: 'Microsoft Yahei';
}
.font-arial {
  font-family: Arial;
}
.font-simsun {
  font-family: Simsun;
}
.arrow-down {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  vertical-align: middle;
}
.w50 {
  width: 50px;
}
.w100 {
  width: 100px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w250 {
  width: 250px;
}
.w300 {
  width: 300px;
}
.w350 {
  width: 350px;
}
.w400 {
  width: 400px;
}
.w450 {
  width: 450px;
}
.w500 {
  width: 500px;
}
.w550 {
  width: 550px;
}
.w600 {
  width: 600px;
}
.w1000 {
  width: 1000px;
}
.w1100 {
  width: 1100px;
}
.w1200 {
  width: 1200px;
}
.wp10 {
  width: 10%;
}
.wp20 {
  width: 20%;
}
.wp25 {
  width: 25%;
}
.wp30 {
  width: 30%;
}
.wp33 {
  width: 33.3333%;
}
.wp40 {
  width: 40%;
}
.wp50 {
  width: 50%;
}
.wp60 {
  width: 60%;
}
.wp66 {
  width: 66.6666%;
}
.wp70 {
  width: 70%;
}
.wp75 {
  width: 75%;
}
.wp80 {
  width: 80%;
}
.wp90 {
  width: 90%;
}
.wp100 {
  width: 100%;
}
.wauto {
  width: auto;
}
.p0 {
  padding: 0!important;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.m0 {
  margin: 0!important;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f28 {
  font-size: 28px;
}
.f32 {
  font-size: 32px;
}
.f36 {
  font-size: 36px;
}
.f40 {
  font-style: 40px;
}
.lht1 {
  line-height: 1;
}
.lht12 {
  line-height: 12px;
}
.lht14 {
  line-height: 14px;
}
.lht16 {
  line-height: 16px;
}
.lht18 {
  line-height: 18px;
}
.lht20 {
  line-height: 20px;
}
.lht22 {
  line-height: 22px;
}
.lht24 {
  line-height: 24px;
}
.lht26 {
  line-height: 26px;
}
.lht28 {
  line-height: 28px;
}
.lht30 {
  line-height: 30px;
}
.lht35 {
  line-height: 35px;
}
.lht40 {
  line-height: 40px;
}
.h50 {
  height: 50px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h300 {
  height: 300px;
}
body {
  font-family: Tahoma, Arial, "Helvetica Neue", "Hiragino Sans GB", Simsun, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}
a {
  color: #333;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
